<!DOCTYPE html>
<html>
<title>dushyant7917 BLOG</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<link rel="shortcut icon" type="image/x-icon" href="/static/blog.png">
<link rel="stylesheet" href="/static/indexStyle.css">
<link rel="stylesheet" href="/static/indexGoogle1.css">
<link rel="stylesheet" href="/static/indexGoogle2.css">
<link rel="stylesheet" href="/static/indexCloudfare.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/static/fontAwesome.css">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body class="w3-light-grey">

  <!-- Navbar -->
  <div class="w3-top">
    <ul class="w3-navbar w3-red w3-card-2 w3-left-align w3-large">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      </li>
      <li class="w3-hide-small"><a href="{{url_for('index')}}" class="w3-padding-large w3-hover-white">Home</a></li>
      <li class="w3-hide-small"><a href="{{url_for('blog')}}" class="w3-padding-large w3-hover-white">Blogs</a></li>
      <li class="w3-hide-small"><a href="{{url_for('profile')}}" class="w3-padding-large w3-hover-white">Profile</a></li>
      <li class="w3-hide-small"><a href="{{url_for('addBlog')}}" class="w3-padding-large w3-hover-white">Post Blog</a></li>
      <li class="w3-hide-small"><a href="{{url_for('logout')}}" class="w3-padding-large w3-hover-white">Logout</a></li>
      <li><a href="{{url_for('beta')}}" class="w3-padding-large w3-white">Beta Version</a></li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-large w3-black">
        <li><a class="w3-padding-large" href="{{url_for('index')}}">Home</a></li>
        <li><a class="w3-padding-large" href="{{url_for('blog')}}">Blogs</a></li>
        <li><a class="w3-padding-large" href="{{url_for('profile')}}">Profile</a></li>
        <li><a class="w3-padding-large" href="{{url_for('addBlog')}}">Post Blog</a></li>
        <li><a class="w3-padding-large" href="{{url_for('register')}}">Logout</a></li>
      </ul>
    </div>
  </div>

<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>You are currently using <span class="w3-tag">Beta Version</span> of the web app.</p>
  <p>Final release date <span class="w3-tag"> November 26, 2016</span></p>
  <p>Report bugs at <span class="w3-tag">dushyant7917@gmail.com</span></p>

</header>

</div>

<br>
<br>
<br>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-grey">
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.linkedin.com/in/dushyant7917" class="w3-hover-text-light-blue"><img src="/static/in.png" height="30px" width="30px"></a>
    <a href="https://github.com/dushyant7917" class="w3-hover-text-light-blue"><img class="w3-circle" src="/static/gh.png" height="30px" width="30px"></a>
 </div>
 <p>Designed by dushyant7917</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
