<!DOCTYPE html>
<html>
<title>dushyant7917 BLOG</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/indexStyle.css">
<link rel="stylesheet" href="/static/indexGoogle1.css">
<link rel="stylesheet" href="/static/indexGoogle2.css">
<link rel="stylesheet" href="/static/indexCloudfare.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="/static/addBlog.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<style type="text/css">
textarea.html-text-box {
  background-color:#ffffff;
  background-repeat:no-repeat;
  background-attachment:fixed;
  border-width:1;
  border-style:solid;
  border-color:#cccccc;
  font-family:Arial;
  font-size:14pt;
  color:#000000;
}
input.html-text-box {
  background-color:#ffffff;
  font-family:Arial;
  font-size:14pt;
  color:#000000;
}
</style>

<body>

  <!-- Navbar -->
  <div class="w3-top">
    <ul class="w3-navbar w3-red w3-card-2 w3-left-align w3-large">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      </li>
      <li class="w3-hide-small"><a href="{{url_for('blog')}}" class="w3-padding-large w3-hover-white">Blogs</a></li>
      <li class="w3-hide-small"><a href="{{url_for('profile')}}" class="w3-padding-large w3-hover-white">Profile</a></li>
      <li class="w3-hide-small"><a href="{{url_for('addBlog')}}" class="w3-padding-large w3-hover-white">New Blog</a></li>
      <li><a href="" class="w3-padding-large w3-white">Comment</a></li>
      <li class="w3-hide-small"><a href="{{url_for('logout')}}" class="w3-padding-large w3-hover-white">Logout</a></li>
    </ul>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-large w3-black">
        <li><a class="w3-padding-large" href="{{url_for('blog')}}">Blogs</a></li>
        <li><a class="w3-padding-large" href="{{url_for('profile')}}">Profile</a></li>
        <li><a class="w3-padding-large" href="{{url_for('addBlog')}}">New Blog</a></li>
        <li><a class="w3-padding-large" href="{{url_for('register')}}">Logout</a></li>
      </ul>
    </div>
  </div>


  <script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }
  </script>

<div class="w3-content" style="max-width:1400px">

  <!-- Grid -->
  <div class="w3-row">

  <!-- Blog entries -->
  <div class="w3-col l8 s12">

    <div class="w3-card-4 w3-margin w3-white" style="width:1365px">
    <img src="{{ item['pic'] }}" height="200" width="300" alt="Nature">
      <div class="w3-container w3-padding-8">
        <h3><b>{{ item['title'] }} <h4>{{ item['author'] }}</h4></b></h3>
        <h5><span class="w3-opacity">{{ item['date'] }}</span></h5>
      </div>
      <div class="w3-container">
       <p>{{ item['article'] }}</p>
        <div class="w3-row">
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
          </div>
        </div>
      </div>
    </div>

    <!-- END BLOG ENTRIES -->
  </div>
</div>

    <!-- END GRID -->
</div><br>



<form method="post" action="{{url_for('blog')}}">
  <textarea name="comments" cols="30" rows="5" class="html-text-box">
    Comments here...
  </textarea><br><input type="submit" value="Submit" class="html-text-box">
  <input type="reset" value="Reset" class="html-text-box">
</form>



</body>

</html>
