
<html>
    <head>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>

    </head>
    <body>
      <form method="POST">
          <div class="flask-pagedown"><textarea class="flask-pagedown-input" id="flask-pagedown-pagedown" name="pagedown" rows="2"></textarea></div>

<script type="text/javascript">
f = function() {
    if (typeof flask_pagedown_converter === "undefined")
        flask_pagedown_converter = Markdown.getSanitizingConverter().makeHtml;
    var textarea = document.getElementById("flask-pagedown-pagedown");

    textarea.onkeyup.call(textarea);
}
if (document.readyState === 'complete')
    f();
else if (window.addEventListener)
    window.addEventListener("load", f, false);
else if (window.attachEvent)
    window.attachEvent("onload", f);
else
    f();
</script>

          <input id="submit" name="submit" type="submit" value="Submit">
      </form>
    </body>
</html>
