<!DOCTYPE html>
<html>
<title>Profile</title>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<link rel="shortcut icon" type="image/x-icon" href="/static/blog.png">
<link rel="stylesheet" href="/static/indexStyle.css">
<link rel="stylesheet" href="/static/indexGoogle1.css">
<link rel="stylesheet" href="/static/indexGoogle2.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/fontAwesome.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <ul class="w3-navbar w3-red w3-card-2 w3-left-align w3-large">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li class="w3-hide-small"><a href="{{url_for('blog')}}" class="w3-padding-large w3-hover-white">Blogs</a></li>
    <li ><a href="{{url_for('profile')}}" class="w3-padding-large w3-white">Profile</a></li>
    <li class="w3-hide-small"><a href="{{url_for('addBlog')}}" class="w3-padding-large w3-hover-white">Post Blog</a></li>
    <li class="w3-hide-small"><a href="{{url_for('logout')}}" class="w3-padding-large w3-hover-white">Logout</a></li>
  </ul>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
    <ul class="w3-navbar w3-left-align w3-large w3-black">
      <li><a class="w3-padding-large" href="{{url_for('blog')}}">Blogs</a></li>
      <li><a class="w3-padding-large" href="{{url_for('profile')}}">Profile</a></li>
      <li><a class="w3-padding-large" href="{{url_for('addBlog')}}">Post Blog</a></li>
      <li><a class="w3-padding-large" href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-light-grey w3-center">
<div class="w3-row">

  <div class="w3-half w3-container w3-center">
    <div class="w3-padding-64">
        <hr>
        <h3 style="text-align:left; padding-left:80px">Name : {{ details['name'] }}</h3><hr>
        <h3 style="text-align:left; padding-left:80px">About : {{ details['about'] }}</h3><hr>
        <h3 style="text-align:left; padding-left:80px">Date of Birth : {{ details['dob'] }}</h3><hr>
        <h3 style="text-align:left; padding-left:80px">Profession : {{ details['profession'] }}</h3><hr>
    </div>
  </div>
  <div class="w3-half w3-container w3-center">
    <div class="w3-padding-64">
        <h1>{{session['username']}}</h1>
        <h5><img src={{details['pic']}} class="w3-margin w3-circle" alt="/static/defaultProfilePic.png" height="250" width="250" ><img></h5>
        <a href="{{url_for('editProfile', username = session['username'])}}">
        <button class="w3-btn w3-padding-16 w3-large w3-margin-top">Edit Profile</button></a>
    </div>
  </div>

</div>
</header>

<div class="w3-container w3-center">
  <br>
  <br>
  <h1> Your Blog History ... </h1>
  <br>
</div>



<!-- Grid -->
<div class="w3-row-padding  w3-container">
{% for pc,tt,dt,ai in blogs %}
  <div class="w3-card-4 w3-light-grey" style="padding:20px; width:80%; margin: 0 auto" >
    <div class="w3-row">

      <div class="w3-half w3-container w3-center">
        <div>
          <img src="{{pc}}" alt="" style="width:300px; height:300px; float:left">
        </div>
      </div>
      <div class="w3-half w3-container w3-center">
        <div>
          <h1>{{tt}}</h1>
          <h5><span class="w3-opacity">{{dt}}</span></h5><br>
            <p id="demo"><a href="{{url_for('editArticle', article_id = ai)}}"><button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>Edit &raquo;</b></button></a></p>
        </div>
        </div>

    </div>
  </div>
</div>
  <br>
{% endfor %}




<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-grey">
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.linkedin.com/in/dushyant7917" class="w3-hover-text-light-blue"><img src="/static/in.png" height="30px" width="30px"></a>
    <a href="https://github.com/dushyant7917" class="w3-hover-text-light-blue"><img class="w3-circle" src="/static/gh.png" height="30px" width="30px"></a>
 </div>
 <p>Designed by <a href="https://dushyant7917resume.herokuapp.com/" style="text-decoration:none"><strong>dushyant7917</strong></a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
